@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: #D1E7DD;
}
.container {
    margin-top: 50px;
}
.table th, .table td {
    vertical-align: middle;
}
.table img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.head{
    font-family: "Sour Gummy", sans-serif;
}
